<h2>Modelo de Chart.js</h2>

<div class="container">
  <div class="row">

    <div class="col-6 linea">
      <div class="container">
        <canvas #canvasi></canvas>
      </div>
    </div>

    <div class="col-6 circulo">
      <div class="container">
        <canvas #donita></canvas>
      </div>
    </div>

    <div class="col-6 barra">
      <div class="container">
        <canvas #barrita></canvas>
      </div>
    </div>

    <div class="col-6 burbuja">
      <div class="container">
        <canvas #barbujita></canvas>
      </div>
    </div>

  </div>
</div>




